@media screen and (min-width: 600px) {
  .hero_image {
    width: 100%;
    height: 100%;
  }
  .spotify {

  }
}

@media screen and (max-width: 599px) {
  .hero_image {
    width: 100%;
    height: 17vh;
  }

  .profile_picture_guillermo {
    display: block; 
    width: 75%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .spotify {
  }
}

.profile_picture_guillermo {
  display: block; 
  width: 35%;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
}

[data-md-color-scheme="youtube"] {
  --md-primary-fg-color: #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #90030C;
  
}

[data-md-color-scheme="nfs-pink"] {
  --md-primary-fg-color: #f431a7;
  --md-primary-fg-color--light: #ffffff;
  --md-primary-fg-color--dark: #f431a7;
  --md-typeset-a-color: #f431a7;
  --md-accent-fg-color: #5b05a8;

}

[data-md-color-scheme="nfs-light"] {
  --md-primary-fg-color: #caf431;
  --md-primary-fg-color--light: #14bb22;
  --md-primary-fg-color--dark: #317ff4;
  --md-typeset-a-color: #f431a7;
  --md-accent-fg-color: #5b05a8;
  --md-primary-bg-color--light: hsla(0, 11%, 17%, 0.7);
}

@keyframes colorchange {
  0% {
    border-color: #f52894;
  }

  50% {
    border-color: #700fe7;
  }

  100% {
    border-color: #f52894;
  }
}
